body {
    margin: 3em;
}

.board {
    display: grid;
    grid-template-columns: repeat(auto-fill,1fr);
    grid-template-rows: repeat(auto-fill,minmax(1fr,2fr));
}

.board__tab-list {
    grid-column: 1;
    grid-row: 1;
    padding: 1em;
}

.board__tab-group {
    grid-column: 2;
    grid-row: 1;
    padding: 1em;
}

.tab__wrapper {
    padding: 3em;
    grid-column: 1;
    display: inline-block;
    width: 20em;
    height: 100%;
    box-sizing: border-box;
}
   
.grid-col {
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: #dfe3e6;
    border-radius: 0.4em;
}

.header {
    color: #17394d;
}
