html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.login__form {
  display: grid;
  /* grid-template-columns: 2fr repeat(2,1fr) 2fr; */
  align-content: center;
  justify-content: center;
  grid-auto-rows: auto;
  grid-row-gap: 1em;
  margin: 0;
  padding: 2.5em 1.5em;
}

.form__title {
  /* grid-column: 2 / 4; */
  /* grid-row: 1; */
  justify-self: start;
  font-size: 2.2em;
  color: #333;
}

.form__paragraph {
  /* grid-column: 2 / 4; */
  /* grid-row: 2; */
  justify-self: start;
  font-size: 1.5em;
  color: #999;
  margin-bottom: 0.5em;
}

.anchor__paragraph {
  /* grid-column: 2 / 4; */
  /* grid-row: 2; */
  color: #298fca;
}

.form__label-name {
  /* grid-column: 2 / 4; */
  /* grid-row: 3; */
  color: #4d4d4d;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding: 0;
  margin: 0;
}

.form__input-name {
  /* grid-column: 2 / 4; */
  /* grid-row: 4; */
  border-color: #b6bbbf;
  background: #edeff0;
  border-radius: 0.3em;
  box-shadow: none;
  border: 1px solid #cdd2d4;
  padding: 0.5em;
  font-size: 1.5em;
  margin: 0;
}

.form__label-email {
  /* grid-column: 2 / 4; */
  /* grid-row: 5; */
  color: #4d4d4d;
  font-size: 1.5em;
  margin: 0;
}

.label__span-email {
  color: #999;
}

.form__input-email {
  /* grid-column: 2 / 4; */
  /* grid-row: 6; */
  border-color: #b6bbbf;
  background: #edeff0;
  border-radius: 0.3em;
  border: 1px solid #cdd2d4;
  padding: 0.5em;
  font-size: 1.5em;
  margin: 0;
}

.form__label-password {
  /* grid-column: 2 / 4; */
  /* grid-row: 7; */
  color: #4d4d4d;
  font-size: 1.5em;
  margin: 0;
}

.form__input-password {
  /* grid-column: 2 / 4; */
  /* grid-row: 8; */
  border-color: #b6bbbf;
  background-color: #edeff0;
  border-radius: 0.3em;
  border: 1px solid #cdd2d4;
  padding: 0.5em;
  font-size: 1.5em;
  margin: 0;
}

.form__input-submit {
  /* grid-column: 2 / 4; */
  /* grid-row: 9; */
  background-color: #61bd4f;
  border: 0;
  border-radius: 0.3em;
  box-shadow: 0 0.2em 0 #3f6f21;
  font-weight: bold;
  font-size: 1.5em;
  color: #FFFFFF;
  padding: 0.6em;
  margin-top: 0.5em;
}

@media only screen and (max-width: 950px) and (min-width: 780px) {
  html,
  body {
    font-size: 14px;
  }
  /* .register__form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2.5em 1.5em;
  } */
} 

@media only screen and (max-width: 499px) {
  html,
  body {
    font-size: 12px;
  }
}

